{% extends "base.html" %}

{% block title %}
Page Not Found
{% endblock %}

{% block content %}

<section class="error-page">

    <div class="container">

        <span class="eyebrow">
            ERROR 404
        </span>

        <h1>
            Page Not Found
        </h1>

        <p>
            The page you are looking for does not exist.
        </p>

        <a
            href="{{ url_for('home') }}"
            class="btn btn-green"
        >
            Back Home
        </a>

    </div>

</section>

{% endblock %}